<h3>
  (meu-primeiro2) - Criando um componente utilizando CLI:
  <span style="font-style: italic; font-weight: lighter"
    >ng g c &lt;nome-componente&gt;</span
  >
</h3>

<h3>
  Como o Módulo curso fora exportado em
  <span style="font-style: italic; font-weight: lighter">cursos.module.ts</span>
  e fora importado em: 
  <span style="font-style: italic; font-weight: lighter">app.module</span> eu
  posso usá-lo dentro d component: 
  <span style="font-style: italic; font-weight: lighter"
    >&lt;meu-primeiro2&gt;</span
  >
  <br/>Neste caso abaixo estou importando este dentro
</h3>
>>>>>>>>>>>
<h3>Exibindo <span style="font-style: italic; font-weight: lighter"
  >&lt;app-cursos&gt;</span
> dentro de <span style="font-style: italic; font-weight: lighter"
>&lt;meu-primeiro2&gt;</span
></h3>
<app-cursos></app-cursos>
===========