<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="content" role="banner">
  <div>
   

    <app-data-binding></app-data-binding>

    <ciclo *ngIf="!deletarCiclo" [valorInicial]="valor"></ciclo>
    <button class="btn btn-info" (click)="mudarValor()">Mudar o Valor</button>
    &nbsp;
    <button class="btn btn-danger" (click)="destruirCiclo()">Deletar Ciclo</button> 
  </div>
</div>

