<!-- <section>
  <article>
    <h3>String renderizada com interpolação: {{ url }}</h3>
    <h3>Resultado de 1 + 1 é: {{ 1 + 1 }}</h3>
    <h3>Resultado de 1 + 1 + função é: {{ 1 + 1 + getValor() }}</h3>
    <h3>
      Resultado da função getCurtir é:
      {{ getCurtir() && cursoAngular ? "Curso Legal" : ":(" }}
    </h3>
  </article>
</section>

<section>
  <img src="{{ urlImagem }}" alt="???" />
  <img [src]="urlImagem" alt=">???" />
  <img bind-src="urlImagem" alt=">???" />
</section> -->

<!-- <section>
  <article>
    <h3>Class e Style Binding</h3>

    <div>Selecione uma classe</div>
    <select #classe (change)="(0)">
      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Alerta</option>
      <option value="alert-danger">Erro</option>
    </select>
    <br />
    <br />

    <div
      class="alert"
      role="alert"
      [class.alert-success]="classe.value == 'alert-success'"
      [class.alert-info]="classe.value == 'alert-info'"
      [class.alert-warning]="classe.value == 'alert-warning'"
      [class.alert-danger]="classe.value == 'alert-danger'"
    >
      Alerta {{ classe.value }}
    </div>

    <div class="alert {{ classe.value }}">
        Colorido conforme o valor do combobox
    </div>

    <div class="alert alert-danger" role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
        Só aparece em caso de erro!
    </div> 
  </article>
</section> -->

<!-- <section>
    <article>
        <h3> Event Binding</h3>
    </article>
    <div>
        <button (click)="botaoClicado()" class="btn btn-primary" >
            Clique-me!
        </button>

        <br/><br/>

        <input type="text" class="form-control"
            #campoInput
            (keyup)="onKeyUp($event)"
            (keyup.enter)="salvarValor(campoInput.value)"
            (blur)="salvarValor(campoInput.value)"
        />
        <br/>
        <p>valor atual: {{ valorAtual }}</p>
   
        <p>valor salvo: {{ valorSalvo }}</p>
        <br/>
        <span
            [class.highlight]="isMouseOver" 
            (mouseover)="setMouse(true)" 
            (mouseout)="setMouse(false)"
        >Passe o mouse sobre mim! {{ isMouseOver ? 'Aqui de novo né!' : 'Ufa saiu!' }}</span>

    </div>
</section> -->

<!-- <section>
  <article>
    <h3>Input/Output</h3>
    <app-curso [nome]="nomeDoCurso" ></app-curso>

    <contador [valor]="valorInicial"></contador>
  </article>
</section> -->

<!-- <p>Contador com EventEmitter</p>
<contador
  [valor]="valorInicial"
  (mudouValor)="onMudouValor($event)"
></contador>
<br/>

<app-meu-form [nome]="nome" [pessoa]="pessoa" >  
</app-meu-form> -->





